html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  background-color: #E5E5E5;  /* под проект */
  font-family: "Muller";  /* в "" свой шрифт под проект*/

  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 1;
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

li {
  list-style-type: none;
}

h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

/* container */

.main_container {
  max-width: 1178px;  /*под проект/ ИЗМЕНИЛ*/
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 35px;
  padding-bottom: 35px;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
